.dara-datetime-hidden {
  visibility: visible;
  width: 0px;
  height: 0px;
  z-index: 1000;
}

.dara-datetime-wrapper {
  --color: #34495e;
  --light: #ffffff;
  --success: #0abf30;
  --error: #e24d4c;
  --warning: #e9bd0c;
  --info: #3498db;
  --background-color: #ffffff;
  --sunday: #f00d0d;
  --border-color: #d3d2d2;
  --select-background-color: #0abf30;
  --button-hover-color: #d4d4d48a;
  --disabled-background-color: #f1f1f18a;
  --today-bg: #a9d5ff;
}

body.dark .dara-datetime-wrapper,
.dara-datetime-wrapper.dark {
  --color: #d0d6e1;
  --light: #ffffff;
  --success: #0abf30;
  --error: #e24d4c;
  --warning: #e9bd0c;
  --info: #3498db;
  --background-color: #070d19;
  --sunday: #f00d0d;
  --border-color: #6e7380;
  --today-bg: #5660d9;
  --today-color: #5660d9;
  --select-background-color: #ffffff;
  --button-hover-color: #31316c;
  --disabled-background-color: #818181;
}

.dara-datetime-wrapper {
  z-index: 1000;
  display: none;

  *,
  *::before,
  *::after {
    box-sizing: content-box;
    color: var(--color);
  }

  &.layer {
    position: absolute;
  }

  input {
    background-color: transparent;
  }

  &.show {
    display: block;
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
  }

  &.hide {
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
    //animation: daraToastHide 0.3s ease forwards;
  }

  &.embed {
    display: block;
  }

  .red {
    color: var(--sunday);
  }

  .ddtp-datetime {
    border-radius: 4px;
    padding: 10px;
    width: 235px;
    background-color: var(--background-color);
    color: var(--color);
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    &[view-mode="date"] .ddtp-body > .ddtp-days {
      display: block;
    }

    &[view-mode="datetime"] {
      .ddtp-body > .ddtp-times,
      .ddtp-body > .ddtp-days {
        display: block;
      }
    }

    &[view-mode="time"] {
      .ddtp-body > .ddtp-times {
        display: block;
      }

      .ddtp-header {
        display: none;
      }
    }

    &[view-mode="year"] {
      .ddtp-body > .ddtp-years {
        display: flex;
      }

      .ddtp-header-month {
        display: none;
      }
    }

    &[view-mode="month"] {
      .ddtp-body > .ddtp-months {
        display: flex;
      }

      .ddtp-header-month {
        display: none;
      }
    }
  }

  .ddtp-header {
    padding: 2px 5px 10px;
    line-height: 25px;
    height: 25px;
    vertical-align: middle;

    .ddtp-header-year {
      font-weight: bold;
      margin: 0px 10px 0px 0px;
      cursor: pointer;
    }

    .ddtp-header-month {
      font-weight: bold;
      margin: 0px 10px 0px 0px;
      vertical-align: top;
      cursor: pointer;
    }

    .ddtp-date-move {
      margin-left: auto;
      vertical-align: top;
      float: right;

      .ddtp-move-btn {
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        height: 24px;

        > svg {
          fill: var(--color);
        }

        &:hover {
          background-color: var(--button-hover-color);
        }
      }

      &::after {
        content: "";
        clear: both;
      }
    }
  }

  .ddtp-body {
    margin: -2px -10px;
    font-size: 13px;

    > * {
      display: none;
    }

    button {
      display: block;
      width: 100%;
      margin-bottom: 7px;
      padding: 3px 0px;
      border-radius: 4px;
      border-color: var(--border-color);
      border-width: 1px;
      border-style: solid;
      background-color: var(--background-color);

      &:hover {
        background-color: var(--button-hover-color);
      }
    }

    .time-today {
      &:hover {
        background-color: var(--button-hover-color);
      }
    }

    .ddtp-days {
      letter-spacing: 0px;
      border-collapse: separate;
      border-spacing: 0px;
      margin: 2px 10px;

      .ddtp-day-label {
        font-weight: bold;
        width: 35px;
        padding: 2px 5px;
        text-align: center;
      }

      .ddtp-day {
        position: relative;
        text-align: center;
        padding: 7px;
        cursor: pointer;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 30px;
          height: 30px;
          background-color: var(--select-background-color);
          border-radius: 50%;
          opacity: 0;
          z-index: 0;
          transition: opacity 0.2s ease-in;
        }

        &:active:before,
        &:hover:before {
          opacity: 0.7;
          transition: opacity 0.2s ease-out;
        }

        &.today {
          > span {
            z-index: 2;
            position: relative;
          }

          &:before {
            background-color: var(--today-bg);
            z-index: 1;
            opacity: 1;
            transition: opacity 0.2s ease-out;
          }
        }

        &.select:before {
          background-color: var(--select-background-color);
          opacity: 0.5;
          transition: opacity 0.2s ease-out;
        }

        &.disabled {
          background-color: var(--disabled-background-color);
          opacity: 0.5;
          cursor: auto;

          &:before {
            background-color: transparent;
          }
        }
      }
    }

    .ddtp-times {
      margin: 2px 15px;
      position: relative;

      > .time-container {
        width: calc(100% - 60px);
        display: inline-block;
        height: 60px;
      }

      input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }
      }

      > .time-btn {
        position: absolute;
        top: 9px;
        width: 55px;
        right: 0px;
        > .time-select {
          height: 40px;
        }
      }

      .ddtp-time {
        display: table-row;
        width: 160px;

        > * {
          margin-top: 5px;
          display: table-cell;
          line-height: 20px;
          vertical-align: middle;
        }

        > span {
          width: 20px;
        }

        > input[type="number"] {
          width: 45px;
          margin-right: 5px;
          padding-left: 0px;
          border-radius: 4px;
          border-color: var(--border-color);
          border-width: 1px;
          text-align: center;
        }

        > input[type="range"] {
          width: calc(100% - 60px);
        }
      }
    }

    .ddtp-months {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      > .ddtp-month {
        position: relative;
        flex: 1 0 30%;
        margin-bottom: 8px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 50px;
          height: 50px;
          background-color: var(--select-background-color);
          border-radius: 50%;
          opacity: 0;
          z-index: 0;
          transition: opacity 0.2s ease-in;
        }

        &:active:before,
        &:hover:before {
          opacity: 0.5;
          transition: opacity 0.2s ease-out;
        }

        &.disabled {
          background-color: var(--disabled-background-color);
          opacity: 0.5;
          cursor: auto;

          &:before {
            background-color: transparent;
          }
        }
      }
    }
  }

  .ddtp-years {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > .ddtp-year {
      position: relative;
      flex: 1 0 25%;
      margin-bottom: 8px;
      line-height: 50px;
      text-align: center;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 50px;
        height: 50px;
        background-color: var(--select-background-color);
        border-radius: 50%;
        opacity: 0;
        z-index: 0;
        transition: opacity 0.2s ease-in;
      }

      &:active:before,
      &:hover:before {
        opacity: 0.5;
        transition: opacity 0.2s ease-out;
      }

      &.disabled {
        background-color: var(--disabled-background-color);
        opacity: 0.5;
        cursor: auto;

        &:before {
          background-color: transparent;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
